In [109]:
%matplotlib inline

In [111]:
import csv
import pandas as pd

In [113]:
# Read csv file
file = 'IMDb_All_Genres_etf_clean1.csv'
df = pd.read_csv(file)
df

,Movie_Title,Year,Director,Actors,Rating,Runtime(Mins),Censor,Total_Gross,main_genre,side_genre
0,Kantara,2022,Rishab Shetty,"Rishab Shetty, Sapthami Gowda, Kishore Kumar G...",9.3,148,UA,Gross Unkown,Action,"Adventure, Drama"
1,The Dark Knight,2008,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart, M...",9.0,152,UA,$534.86M,Action,"Crime, Drama"
2,The Lord of the Rings: The Return of the King,2003,Peter Jackson,"Elijah Wood, Viggo Mortensen, Ian McKellen, Or...",9.0,201,U,$377.85M,Action,"Adventure, Drama"
3,Inception,2010,Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",8.8,148,UA,$292.58M,Action,"Adventure, Sci-Fi"
4,The Lord of the Rings: The Two Towers,2002,Peter Jackson,"Elijah Wood, Ian McKellen, Viggo Mortensen, Or...",8.8,179,UA,$342.55M,Action,"Adventure, Drama"
...,...,...,...,...,...,...,...,...,...,...
5557,Disaster Movie,2008,"Directors:Jason Friedberg, Aaron Seltzer","Carmen Electra, Vanessa Lachey, Nicole Parker,...",1.9,87,PG-13,$14.19M,Comedy,Sci-Fi
5558,The Hottie & the Nottie,2008,Tom Putnam,"Paris Hilton, Joel David Moore, Christine Laki...",1.9,91,PG-13,$0.03M,Comedy,Romance
5559,From Justin to Kelly,2003,Robert Iscove,"Kelly Clarkson, Justin Guarini, Katherine Bail...",1.9,81,PG,$4.92M,Comedy,"Musical, Romance"
5560,Superbabies: Baby Geniuses 2,2004,Bob Clark,"Jon Voight, Scott Baio, Vanessa Angel, Skyler ...",1.5,88,PG,$9.11M,Comedy,"Family, Sci-Fi"
5561,Cumali Ceber: Allah Seni Alsin,2017,Gökhan Gök,"Halil Söyletmez, Doga Konakoglu, Emre Keskin, ...",1.0,100,Not Rated,Gross Unkown,Comedy,Comedy

In [115]:
# Create a dictionary to map each movie to its rating
movie_rating_map = {}

# Iterate through the DataFrame
for index, row in df.iterrows():
    movie = row['Movie_Title']
    rating = row['Rating']  #'Rating' contains movie ratings
    
    # Add the movie and its rating to the dictionary
    movie_rating_map[movie] = rating

In [146]:
# The movie for which you want to find similar movies
target_movie = 'The Dark Knight'

In [148]:
from sklearn.metrics.pairwise import pairwise_distances

In [150]:
# Calculate pairwise Euclidean distance between movies based on their ratings
ratings = df['Rating'].values.reshape(-1, 1)
euclidean_distances = pairwise_distances(ratings, metric='euclidean')

# Convert the Euclidean distance matrix into a DataFrame 
euclidean_distances_df = pd.DataFrame(euclidean_distances, index=df['Movie_Title'], columns=df['Movie_Title'])

# Get the distance scores for the target movie
distances = euclidean_distances_df[target_movie].sort_values(ascending=True)

# Exclude the target movie from the top 10 list of similar movies
similar_movies = distances.drop(target_movie)

# Print the top 10 similar movies
top_similar_movies = similar_movies.head(10)
print(top_similar_movies)

Movie_Title
12 Angry Men                                     0.0
The Lord of the Rings: The Return of the King    0.0
Schindler's List                                 0.0
Aynabaji                                         0.0
The Godfather Part II                            0.0
777 Charlie                                      0.1
Rocketry: The Nambi Effect                       0.1
Jai Bhim                                         0.1
Pulp Fiction                                     0.1
Hababam Sinifi                                   0.2
Name: The Dark Knight, dtype: float64